- function sortByTabs(categories) {
-   var byTab = [[]]
-   slice.value.toArray().forEach(function(category) {
-     var tab = category.get('tab') ? category.get('tab').value : 0
-     if (!byTab[tab]) byTab[tab] = []
-     byTab[tab].push(category)
-   });
-   return byTab;
- }

.categories.centered-layout
  - var categories = slice.value.toArray()
  if (categories)
    for category in categories
      - var link = category.getLink('link')
      - var illustration = category.get('illustration') ? category.get('illustration').main.url : ''
      .category
        img(src=illustration)
        if link
          a.label(href=link.url(ctx.linkResolver))
            = category.get('title').asText()
